<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
   <add key="SyncFolder" value="C:\SyncFolders\ClientFolder" />
    
   <!--<add key="WepApiURLtoLoad" value="http://localhost/ServerFileSync/api/FileTransfer/Upload" />
   <add key="WepApiURLtoOverride" value="http://localhost/ServerFileSync/api/FileTransfer/Override" />
   <add key="WepApiURLtoDelete" value="http://localhost/ServerFileSync/api/FileTransfer" />
   <add key="WepApiURLtoDownload" value="http://localhost/ServerFileSync/api/FileTransfer/Download" />
   <add key="WepApiURLExistsFile" value="http://localhost/ServerFileSync/api/FileTransfer/Exists" />
   <add key="SignalRHost" value="http://localhost/ServerFileSync/" />-->
    
   
   <add key="WepApiURLtoLoad" value="http://localhost:52051/api/FileTransfer/Upload" />
   <add key="WepApiURLtoOverride" value="http://localhost:52051/api/FileTransfer/Override" />
   <add key="WepApiURLtoDelete" value="http://localhost:52051/api/FileTransfer" />
   <add key="WepApiURLtoDownload" value="http://localhost:52051/api/FileTransfer/Download" />
   <add key="WepApiURLExistsFile" value="http://localhost:52051/api/FileTransfer/Exists" />
   <add key="SignalRHost" value="http://localhost:52051/" />
 </appSettings>  
</configuration>